<!DOCTYPE html>
<html>
  <head>
    <title>就是一个小小的开源经验分享</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- <script>

        var nan = function() {
            document.getElementById("blink").innerHTML="南";
        } 
        var bei = function() {
            document.getElementById("blink").innerHTML="北";
            setTimeout(nan, 150)
        }   
        setInterval(bei, 2000);
    </script> -->
  </head>
  <body>

    <textarea id="source">

class: center, middle, title

<h1>就是一个小小的开源经验分享</h1>

汤会枫（小汤 / 99Kies）
---

class: center, middle, inverse


## 感谢李老师邀请我来给大家做这次分享

---

## 开源 是什么😱？

--

 长答案：https://baike.baidu.com/item/%E5%BC%80%E6%94%BE%E6%BA%90%E4%BB%A3%E7%A0%81/114160?fromtitle=%E5%BC%80%E6%BA%90&fromid=20720669&fr=aladdin

--

- 短答案：把项目代码在Github或者Gitee上发布


---
class: center, middle
## 比较经典的开源项目和开源社区

<img src="{{ url_for('static', filename='images/99kies/s-0.png') }}" width="600px">
--


<img src="{{ url_for('static', filename='images/99kies/s-2.png') }}" width="600px">
--

---
class: center, middle
<img src="{{ url_for('static', filename='images/99kies/s-3.png') }}" width="700px">
--
---

## 汤会枫 / 99Kies

<img src="{{ url_for('static', filename='images/99kies/99kies_.jpg') }}" width="200px">

- OpenSource Developer
- Flask开发者, Docker/K8s方向
- [博客地址](https://blog.csdn.net/qq_19381989) 
- 仓库地址 https://github.com/99kies

还是个开源世界里的菜鸡，努力开发有趣的项目ing

---

## 正在做

SUIBE-Blockchain/FISCO_BCOS_Toolbox  **升级优化Toolbox**

kaiyuanshe/open-hackathon **Python2->Python3重构**

FISCO-BCOS/python_sdk **Docker镜像维护**

HUCTF/xxx  **项目Leader**

---
# 何为开源精神

--
我的比较认可的理解: **拾火柴精神**

--

因为 众人拾柴火焰高，单丝不成线，独木难成林

--

<br>
--

开源世界，其实可以比喻成一个江湖场。

每个Open Source Developer都是在闯荡江湖。

<img src="{{ url_for('static', filename='images/99kies/bing.png') }}" width="400px">



--
---
class: center, middle
<img src="{{ url_for('static', filename='images/99kies/heart.png') }}" width="700px">

--


---
class: center, middle, inverse


# 👀 从提出issue开始
**( 或者帮助项目修改文档 )**

---
class: center, middle

# 拿我为例

<img src="{{ url_for('static', filename='images/99kies/share.png') }}" width="800px">
--

---

# 从简单开始
--

**关于个人项目**

--

把自己的项目(哪怕是学习笔记)放到Github上

开发出有意思的项目（这个真的很重要）

--

**关于向组织贡献**

--

从issue / 修改文档开始

从 Contributors 到 Commiter 再到 Member

每次的Commit都是平等的，不论每次Commit的代码量的数量是多还是少。因为每次的Commit都是在推动项目发展和社区发展(apache 思想👍)

--

-----------


*当然你得找到你自己兴趣有关的项目，毕竟这样子才有动力！🤣*

---
class: center, middle, inverse

# 种树最好的时间是十年前，还有现在
**( 我是从19年才开始真正的走进开源 )**

---
class: center, middle, inverse

# 题外话

---

## 怎样的人，才是技术大牛呢？

--

我精通Go，Python，Solidity。

--

我编程能力很强的，链表，hashmap，随随便便来。

--

我CURD很强的，CURD操作老手了。

--

<br>
不！都不是

--

-----------

--

只有手上有🔥项目，才是真正的大牛！就比如：

--

我是Linux的一个Contributor

--

我是Kubernetes的Commiter

--

我开发的**FISCO_BCOS_Toolbox**在GitHub上有**5k**的star

--

这才是一个 Great Engineer / Great Developer

-----------


--

---
# 那做个计划吧

**就在今年的计划**

在博客上分享100篇文章

回答知乎/StackOverflow/csdn上的问题

在Github上创建20个PR（不属于自己项目的pr）

开发属于自己的有趣的项目，并开源

。。。
---

# 其实还有好多好多

--


因为时间短促，就只准备了这些😆

最后我就介绍一些关于开源的有趣聚会吧

---
## 一些关于开源的聚会

( 下面都是氛围很棒的聚会 )

**coscup** | 台湾 | 很经典

<img src="{{ url_for('static', filename='images/99kies/coscup.png') }}" width="700px">

( 没去过，不过其他同学的反响很棒 )

---


**coscon** | 大陆 | 棒棒棒！

<img src="{{ url_for('static', filename='images/99kies/coscon.jpg') }}" width="600px">

今年可能是10.24在成都/杭州举办

---

## Links & Contact

<img src="{{ url_for('static', filename='images/99kies/wechat.jpg') }}" width="200px">

- Blog: [Blog](https://blog.csdn.net/qq_19381989)
- GitHub: [github.com/99kies](https://github.com/99kies)
- PPT Source: [github.com/99kies/SUIBE-speech](https://github.com/99kies/SUIBE-speech)

    </textarea>
    <script src="{{ url_for('static', filename='js/remark.min.js') }}">
    </script>
    <script>
      var slideshow = remark.create({
        ratio: '16:9',
        highlightStyle: 'github',
        highlightLines: true,
      });
    </script>
  </body>
</html>